# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.skyEscaper.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\semih\Documents\unityProjects\skyEscaper\.idea\.idea.skyEscaper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
