# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Sky Escaper.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\semih\Desktop\Sky Escaper\.idea\.idea.Sky Escaper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
